
@using System.Data;
@using System.Text.RegularExpressions;

<table class="table">
    <thead>
        <tr>
            @foreach (DataColumn head in Table.Columns){
                <th>@(Regex.IsMatch(head.ColumnName,"^[^a-z]*$")?head.ColumnName:Regex.Replace(head.ColumnName, "(\\B[A-Z])", " $1"))</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Table.Rows)
        {
            <tr>
                @foreach(var val in row.ItemArray){
                    <td>@val</td>
                }
            </tr>
        }
    </tbody>
</table>

@code{
    [Parameter, EditorRequired]
    public DataTableAdapter Table {get;set;} = null!;
}