@page "/tables"

@using DBLinker
@using System.Data;

@inject ISqlLinkerService dbLink

<h2>Tables</h2>
@foreach(string t in GetTables()){
    <a href="/tableviewer/@(t.Replace("[","").Replace("]",""))">@(t.Replace("[","").Replace("]",""))</a><br>
}

@code{
    private string[] GetTables() => dbLink.GetTableNames() ?? [];
}