@page "/tableviewer/{name}/{view:bool}"

@using DBLinker
@using System.Data;

@inject ISqlLinkerService dbLink


<h1>@Name</h1>

@if((table = GetTable()) != null){
    <DynamicTable Table="table"/>
}
else{
    <h2>La tabla no existe o no se pudo cargar</h2>
    <span>@Name</span><br>
    <span>@outName</span>
}

@code{
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public bool? View { get; set; }
    public string? outName;
    DataTableAdapter? table;

    private DataTableAdapter? GetTable(){
        if(Name==null)
            return null;

        string[] splited = Name.Split('.');
        //[TestView]
        //table = GetTable("[dbo].[RanNames]")
        //dbLink.Connect("Oscar-PC","TBD2024","sa","Enderfire@20",autoFill: true,autoUpdate: true);
        //dbLink.LoadTables();

        outName=$"[{splited[0]}].[{splited[1]}]";
        if(!(View ?? false)){
            return dbLink.GetTable(outName);
        }
        else{
            return dbLink.GetView(outName);
        }
    }
}
    
