@page "/weather"
@using DBLinker

@inject ISqlLinkerService dbLink
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<table class="table">
    <thead>
        <tr>
            <th>Table Names</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var table in GetTableNames())
        {
            <tr>
                <td>@table</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private string[] GetTableNames(){
        dbLink.Connect("Oscar-PC","TBD2024","sa","Enderfire@20",autoFill: true,autoUpdate: true);
        return dbLink.GetTableNames()??[];
    }
}
